
.visit-card {
  background-color: var(--lumo-base-color);
  border-radius: var(--lumo-border-radius-l);
  padding: var(--lumo-space-m);
  box-shadow: var(--lumo-box-shadow-xs);
  display: flex;
}

.visit-type-block {
  min-height: 250px;
  border-top-left-radius: var(--lumo-border-radius-l);
  border-bottom-left-radius: var(--lumo-border-radius-l);
  overflow: hidden;
  justify-content: end;
  color: white;

}

.visit-type {
  font-size: 24px;
  font-weight: 800;
}

.visit-type-block .type-label {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: #000;
  font-weight: 600;
}
.visit-details {
  display: flex;
  flex-direction: column;
  padding: var(--lumo-space-l);
  padding-bottom: 0px;
}

.type-label {
  /* Falls du den Typ in der Mitte des linken Blocks anzeigen willst */
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--lumo-body-text-color);
}
.font-bold {
  font-weight: 600;
  margin-right: 0.3rem;
}


.event-red {
  background: linear-gradient(135deg, #FFC8D0 0%, #DF6679 100%) !important;
}

.event-green {
  background: linear-gradient(135deg, #BAF2D8 0%, #23BA75 100%) !important;
}

.event-yellow {
  background: linear-gradient(135deg, #FFE2AD 0%, #E3A023 100%) !important;
}

.event-purple {
  background: linear-gradient(135deg, #D6D0FF 0%, #6E64B9 100%) !important;
}

.event-blue {
  background: linear-gradient(135deg, #BAF7FF 0%, #249FAF 100%) !important;
}